// All Cms Styles goes here
.cms {
  font-size: 1.7rem;
  line-height: 1.5;

  @media only screen and (min-width: $breakpoint_md) {
    font-size: 2.1rem;
  }

  .carousel {
    max-width: 100%;

    .carousel-item {
      position: relative;

      p {
        margin-bottom: 0;
      }
    }
  }

  .section {
    &.article {
      background-color: $primary;
      color: $white;

      .section-inner {
        @media only screen and (min-width: $breakpoint_md) {
          display: flex;
          align-items: normal;
        }
      }

      .section-title {
        @media only screen and (min-width: $breakpoint_md) {
          width: 35%;
          margin: 0;
        }
      }

      .section-content {
        @media only screen and (min-width: $breakpoint_md) {
          width: 65%;
        }
      }
    }

    .section-inner {
      padding: 60px 20px;

      @media only screen and (min-width: $breakpoint_md) {
        padding: 60px 0;
        max-width: 1130px;
        margin: 0 auto;
      }
    }

    .section-title {
      font-size: 3.6rem;
      font-family: 'Proxima Nova Bold', sans-serif;
      line-height: 1;

      .alt-header {
        font-size: 2.3rem;
        color: $secondary;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
    }

    .section-content {

    }

    .why-smcs {
      padding-bottom: 50%;
      background-color: transparent;
      padding-top: 20px;
      padding-right: 20px;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 2.0rem;
      z-index: 2;

      @media only screen and (min-width: $breakpoint_md) {
        font-size: 3.0rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 0;
      }

      & + p {
        &::before {
          display: block;
          position: absolute;
          width: 65%;
          top: 0;
          left: 0;
          bottom: 0;
          background-image: linear-gradient(to right, #fff 30%, transparent);
          z-index: 1;

          @media only screen and (min-width: $breakpoint_md) {
            content: '';
          }
        }
      }

      & + p img,
      & + img {
        width: 300%;
        margin-left: -50%;
        position: relative;

        @media only screen and (min-width: $breakpoint_md) {
          width: 100%;
          margin-left: 0;
        }
      }

      > div {
        display: inline-block;
        padding: 5px 20px;
        color: $white;
        background: $lightBlue;
        margin-bottom: 8px;

        @media only screen and (min-width: $breakpoint_md) {
          background-color: transparent;
          color: $black;
        }
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          font-family: 'Proxima Nova Bold', sans-serif;
          font-size: 2.8rem;
          line-height: 1;
          color: $lightBlue;
          margin-bottom: 8px;
          opacity: 0.3;

          @media only screen and (min-width: $breakpoint_md) {
            font-size: 6.0rem;
            background-color: transparent;
          }

          &.active {
            opacity: 1;
          }

          span {
            display: inline-block;
            padding: 5px 20px;
            background-color: $white;
          }
        }
      }

      button.primary {
        -webkit-appearance: none;
        background-color: $quoteColour;
        border: 0;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 1.6rem;
        font-family: 'Proxima Nova Bold', sans-serif;
        text-transform: uppercase;
        color: $black;
        transition: color 0.3s ease;
        cursor: pointer;
        margin-left: 10px;

        &:hover, &:active {
          @media (hover) {
            color: $white;
          }
        }
      }
    }
  }

  .col2-layout {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media only screen and (min-width: $breakpoint_md) {
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
      row-gap: 10px;
    }

    .col {
      margin: 0;
    }
  }

  .cta {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(to top, $primary 40%, transparent);
      opacity: 0.8;
    }


    .cta-content {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 20px;
      font-size: 1.9rem;
      color: $white;
      z-index: 1;

      a {
        display: inline-block;
        padding: 5px 15px;
        background-color: $secondary;
        font-size: 3.0rem;
        font-family: 'Proxima Nova Bold', sans-serif;
        color: $primary;
        margin-bottom: 5px;
      }
    }
  }

  .col4-layout {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    @media only screen and (min-width: $breakpoint_md) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .col {
      padding: 0 10px;
    }
  }

  // Programs
  .programs {
    background-color: $primary;
    color: $white;

    .section .section-inner {
      padding: 0;
    }

    .col {
      padding: 5px;
      background-color: $darkBlue;

      .program {
        text-align: center;
        padding: 10px;
        line-height: 1;

        @media only screen and (min-width: $breakpoint_md) {
          padding: 25px;
        }

        a {
          color: $white;
          transition: all 0.3s ease;

          &:hover {
            @media (hover) {
              color: $secondary;
              font-size: 1.05em;
            }
          }
        }

        img {
          display: block;
          max-width: 60px;
          margin: 0 auto 15px;

          @media only screen and (min-width: $breakpoint_md) {
            margin: 0 auto 20px;
          }
        }
      }
    }
  }

  // Quotes Carousel
  .carousel.quotes {

    .slick-slide {
      display: flex;
      align-items: center;
    }

    .slick-dots {
      bottom: 0;

      li {
        margin: 0 8px;
      }

      button {
        padding: 0;
        width: 8px;
        height: 8px;
      }

      .slick-active {
        button {
          background: rgba(33,33,33, 0.8);
        }
      }
    }

    .quote {
      text-align: center;
      padding: 50px 0;

      @media only screen and (min-width: $breakpoint_md) {
        padding: 60px 0 20px;
      }

      &::before {
        content: '\201c';
        position: absolute;
        display: block;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        color: $quoteColour;
        font-size: 10rem;
        line-height: 1;

        @media only screen and (min-width: $breakpoint_md) {
          font-size: 14rem;
        }
      }

      .author {
        padding-top: 20px;
        font-family: 'Proxima Nova Bold', sans-serif;
      }
    }
  }
}

@import './vendor/slick';
@import './vendor/slick-theme';