$primary: #0C233F;
$secondary: #CB9E58;
$primaryLink: #0C233F;
$secondaryLink: #FFFFFF;
$textColour: #000000;
$quoteColour: #6BADDA;
$lightestBlue: #C4DFF1;
$lightBlue: #2A78AF;
$blue: #0C233F;
$darkBlue: #0A1C32;
$white: #FFFFFF;
$black: #000000;
$grey: #aaa;
$divider: #4B5B70;