@import './fonts/_typography';
@import './breakpoints';
@import './colours';
@import './cms';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
}

header {
  z-index: 3;
}

#__next > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.main-wrapper {
  flex: 1;
}

footer {
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

* {
  box-sizing: border-box;
}

[data-role=menu] {
  display: none;
}