<div class="section article">
    <div class="section-inner">
        <h2 class="section-title">
            <p class="alt-header">Welcome to</p>
            St. Michael's<br/>
            College School
        </h2>
        <div class="section-content">
            <p>
                Canada's only independent, Catholic school for young men in grades 7 - 12, taught in the Basilian
                tradition
                of forming the mind, body and soul - since 1852.
            </p>
            <p>
                We provide a unique learning and growing experience during which a boy develops the framework of his
                character and builds the foundation for his life as a man.
            </p>
        </div>
    </div>
</div>
<div class="section">
    <div class="carousel">
        <div class="carousel-item">
            <div class="why-smcs">
                <div aria-label="Why SMCS">Why SMCS</div>
                <ul>
                    <li class="active"><span>Experiential Learning</span></li>
                    <li><span>Leadership Development</span></li>
                    <li><span>Faith Formation</span></li>
                    <li><span>Student Success</span></li>
                    <li><span>Well-Being</span></li>
                </ul>
                <button class="primary" aira-label="Apply Online">Apply Online</button>
            </div>
            <p><img src="https://stmichaelscollegeschool.tonylai425.com/wp-content/uploads/2021/04/experiential.jpg"
                    alt="Experiential Learning"/></p>
        </div>
        <div class="carousel-item">
            <div class="why-smcs">
                <div aria-label="Why SMCS">Why SMCS</div>
                <ul>
                    <li><span>Experiential Learning</span></li>
                    <li class="active"><span>Leadership Development</span></li>
                    <li><span>Faith Formation</span></li>
                    <li><span>Student Success</span></li>
                    <li><span>Well-Being</span></li>
                </ul>
                <button class="primary" aira-label="Apply Online">Apply Online</button>
            </div>
            <p><img src="https://stmichaelscollegeschool.tonylai425.com/wp-content/uploads/2021/04/leadership-1.jpg"
                    alt="Leadership Development"/></p>
        </div>
        <div class="carousel-item">
            <div class="why-smcs">
                <div aria-label="Why SMCS">Why SMCS</div>
                <ul>
                    <li><span>Experiential Learning</span></li>
                    <li><span>Leadership Development</span></li>
                    <li class="active"><span>Faith Formation</span></li>
                    <li><span>Student Success</span></li>
                    <li><span>Well-Being</span></li>
                </ul>
                <button class="primary" aira-label="Apply Online">Apply Online</button>
            </div>
            <p><img src="https://stmichaelscollegeschool.tonylai425.com/wp-content/uploads/2021/04/faith-formation-1.jpg"
                    alt="Faith Formation"/></p>
        </div>
        <div class="carousel-item">
            <div class="why-smcs">
                <div aria-label="Why SMCS">Why SMCS</div>
                <ul>
                    <li><span>Experiential Learning</span></li>
                    <li><span>Leadership Development</span></li>
                    <li><span>Faith Formation</span></li>
                    <li class="active"><span>Student Success</span></li>
                    <li><span>Well-Being</span></li>
                </ul>
                <button class="primary" aira-label="Apply Online">Apply Online</button>
            </div>
            <p><img src="https://stmichaelscollegeschool.tonylai425.com/wp-content/uploads/2021/04/student-success-2.jpg"
                    alt="Student Success"/></p>
        </div>
        <div class="carousel-item">
            <div class="why-smcs">
                <div aria-label="Why SMCS">Why SMCS</div>
                <ul>
                    <li><span>Experiential Learning</span></li>
                    <li><span>Leadership Development</span></li>
                    <li><span>Faith Formation</span></li>
                    <li><span>Student Success</span></li>
                    <li class="active"><span>Well-Being</span></li>
                </ul>
                <button class="primary" aira-label="Apply Online">Apply Online</button>
            </div>
            <p><img src="https://stmichaelscollegeschool.tonylai425.com/wp-content/uploads/2021/04/well-being-2.jpg"
                    alt="Well-Being"/></p>
        </div>
    </div>
</div>
<div class="section programs">
    <div class="section-inner">
        <h2 class="section-title">
            Programs & Support
        </h2>
        <div class="section-content">
            <ul class="col4-layout">
                <li class="col">
                    <div class="program">
                        <a href="#">
                            <img src="https://stmichaelscollegeschool.tonylai425.com/wp-content/uploads/2021/04/icon_academics.png"
                                 alt="icon academics"/>
                            Academics
                        </a>
                    </div>
                </li>
                <li class="col">
                    <div class="program">
                        <a href="#">
                            <img src="https://stmichaelscollegeschool.tonylai425.com/wp-content/uploads/2021/04/icon_arts.png"
                                 alt="icon arts"/>
                            Arts
                        </a>
                    </div>
                </li>
                <li class="col">
                    <div class="program">
                        <a href="#">
                            <img src="https://stmichaelscollegeschool.tonylai425.com/wp-content/uploads/2021/04/icon_athletics.png"
                                 alt="icon athletics"/>
                            Athletics
                        </a>
                    </div>
                </li>
                <li class="col">
                    <div class="program">
                        <a href="#">
                            <img src="https://stmichaelscollegeschool.tonylai425.com/wp-content/uploads/2021/04/icon_clubs.png"
                                 alt="icon clubs"/>
                            Clubs & Activities
                        </a>
                    </div>
                </li>
                <li class="col">
                    <div class="program">
                        <a href="#">
                            <img src="https://stmichaelscollegeschool.tonylai425.com/wp-content/uploads/2021/04/icon_learningsupport.png"
                                 alt="icon learning support"/>
                            Learning Support
                        </a>
                    </div>
                </li>
                <li class="col">
                    <div class="program">
                        <a href="#">
                            <img src="https://stmichaelscollegeschool.tonylai425.com/wp-content/uploads/2021/04/icon_wellness.png"
                                 alt="icon wellness"/>
                            Wellness
                        </a>
                    </div>
                </li>
                <li class="col">
                    <div class="program">
                        <a href="#">
                            <img src="https://stmichaelscollegeschool.tonylai425.com/wp-content/uploads/2021/04/icon_mentorship.png"
                                 alt="icon mentorship"/>
                            Mentorship & Leadership
                        </a>
                    </div>
                </li>
                <li class="col">
                    <div class="program">
                        <a href="#">
                            <img src="https://stmichaelscollegeschool.tonylai425.com/wp-content/uploads/2021/04/icon_spiritual.png"
                                 alt="icon spiritual"/>
                            Spiritual Life
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="section">
    <div class="col2-layout">
        <div class="col">
            <div class="cta">
                <picture>
                    <source
                        srcset="https://stmichaelscollegeschool.tonylai425.com/wp-content/uploads/2021/04/virtual-tour.png"
                        media="(min-width: 768px)"
                    />
                    <img src="https://stmichaelscollegeschool.tonylai425.com/wp-content/uploads/2021/04/virtual-tour-m.png"
                         alt="virtual tour image"/>
                </picture>
                <div class="cta-content">
                    <a href="#" class="button" aria-label="Visit Us">VISIT US</a><br />
                    <span>Take a virtual tour of our campus</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="cta">
                <picture>
                    <source
                        srcset="https://stmichaelscollegeschool.tonylai425.com/wp-content/uploads/2021/04/apply-now.jpg"
                        media="(min-width: 768px)"
                    />
                    <img src="https://stmichaelscollegeschool.tonylai425.com/wp-content/uploads/2021/04/apply-now-m.jpg"
                         alt="apply now"/>
                </picture>
                <div class="cta-content">
                    <a href="#" class="button" aria-label="Apply Now">APPLY NOW</a><br />
                    <span>Start shaping the future with SMCS</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="section-inner">
        <div class="carousel quotes">
            <div class="carousel-item">
                <div class="quote">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                    <div class="author" aria-label="First Lastname">FIRST LASTNAME</div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="quote">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                    <div class="author" aria-label="First Lastname">FIRST LASTNAME</div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="quote">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <div class="author" aria-label="First Lastname">FIRST LASTNAME</div>
                </div>
            </div>
        </div>
    </div>
</div>