@font-face {
  font-family: 'Icomoon';
  src: url('icomoon/icomoon.eot'),
  url('icomoon/icomoon.woff') format('woff'),
  url('icomoon/icomoon.ttf') format('truetype'),
  url('icomoon/icomoon.svg') format('svg');
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-Regular.eot'),
  url('ProximaNova-Regular.woff') format('woff'),
  url('ProximaNova-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('ProximaNova-Bold.eot'),
  url('ProximaNova-Bold.woff') format('woff'),
  url('ProximaNova-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova ExtraBold';
  src: url('ProximaNova-Extrabld.ttf'),
  url('ProximaNova-Extrabld.woff') format('woff'),
  url('ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

html,
body {
  font-size: 10px;
}